<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracejp.yuka.dao.CollectMapper">

    <insert id="insertMusicCollect">
        INSERT INTO `music_list_value`(music_list_id, music_id)
        VALUES(#{listId}, #{musicId});
    </insert>

    <delete id="deleteMusicCollect">
        DELETE FROM `music_list_value`
        WHERE music_id=#{musicId}
        AND music_list_id=#{listId};
    </delete>

    <select id="selectIsListFromUid" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `music_list`
        WHERE id=#{listId}
        AND user_id=#{uid};
    </select>

    <select id="selectUserMusicList" resultType="com.tracejp.yuka.model.vo.MusicCollectVO">
        SELECT `music_list`.id,music_list_name,music_list_img_url,count(music_id) AS music_count
        FROM `music_list`
        LEFT JOIN `music_list_value`
        ON `music_list`.id = `music_list_value`.music_list_id
        WHERE user_id=#{uid}
        GROUP BY `music_list`.id;
    </select>

    <select id="selectListHasMusicId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `music_list_value`
        WHERE music_id=#{musicId} AND music_list_id=#{listId};
    </select>


    <insert id="insertUserMusicList">
        INSERT INTO `music_list`(music_list_name, music_list_img_url, music_list_type, user_id, is_user_default, music_list_play_count)
        <if test="isDefault == true">
            VALUES(#{listName}, #{imgUrl}, #{listType}, #{uid}, 1, 0);
        </if>
        <if test="isDefault == false">
            VALUES(#{listName}, #{imgUrl}, #{listType}, #{uid}, 0, 0);
        </if>
    </insert>

    <delete id="deleteUserMusicList">
        DELETE FROM `music_list`
        WHERE id=#{listId};
    </delete>
    <delete id="deleteUserMusicListValue">
        DELETE FROM `music_list_value`
        WHERE music_list_id=#{listId};
    </delete>
    <delete id="deleteUserKeepMusicList">
        DELETE FROM `user_keep_music_list`
        WHERE music_list_id=#{listId};
    </delete>
    <delete id="deleteUserKeepComment">
        DELETE FROM `user_keep_comment`
        WHERE comment_id IN (
            SELECT `music_comment`.id FROM `music_comment` WHERE music_id=#{listId} AND comment_id_type=2
            );
    </delete>
    <delete id="deleteMusicListComment">
        DELETE FROM `music_comment`
        WHERE music_id=#{listId} AND comment_id_type=2;
    </delete>

    <insert id="insertCollectMusicList">
        INSERT INTO `user_keep_music_list`(user_id, music_list_id)
        VALUES(#{uid}, #{listId})
    </insert>

    <delete id="deleteCollectMusicList">
        DELETE FROM user_keep_music_list
        WHERE music_list_id=#{listId};
    </delete>

    <select id="selectIsUserCreateMusicList" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `music_list`
        WHERE id=#{listId}
        AND user_id=#{uid}
    </select>

    <select id="selectIsUserCollectMusicList" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `user_keep_music_list`
        WHERE user_id=#{uid}
        AND music_list_id=#{listId};
    </select>

</mapper>