<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracejp.yuka.dao.HomeViewPageMapper">

    <select id="selectUserInfo" resultType="com.tracejp.yuka.model.dao.HomeUserInformationDAO">
        SELECT user_id, user_avatar_img_url, user_name, user_area, user_sex, user_birthday
        FROM `user_info`
        WHERE user_id=#{uid};
    </select>

    <select id="selectUserSongsRank" resultType="com.tracejp.yuka.model.dao.HomeListenToSongsDAO">
        SELECT music_resources.id, music_name, music_author, broadcast_number_times, COUNT(broadcast_number_times)
        FROM `music_resources`, `user_song_leaderboard`
        WHERE `music_resources`.id = `user_song_leaderboard`.music_id
        AND user_id=#{uid}

    </select>


</mapper>