<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracejp.yuka.dao.MyMusicViewMapper">

    <select id="selectCreateMusicList" resultType="com.tracejp.yuka.model.dao.MyMusicUserMusicListDAO">
        SELECT id, music_list_name
        FROM `music_list`
        WHERE user_id=#{uid}
    </select>

    <select id="selectFavoritesMusicList" resultType="com.tracejp.yuka.model.dao.MyMusicUserMusicListDAO">
        SELECT `music_list`.id, music_list_name
        FROM `music_list`, `user_keep_music_list`
        WHERE `user_keep_music_list`.music_list_id=`music_list`.id
        AND `user_keep_music_list`.user_id=#{uid};
    </select>

    <select id="selectUserILikeMusicListId" resultType="java.lang.Integer">
        SELECT id
        FROM `music_list`
        WHERE user_id=#{uid}
        AND is_user_default=1;
    </select>

</mapper>