<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracejp.yuka.dao.PlaylistViewMapper">

    <select id="selectPlaylistMessage" resultType="com.tracejp.yuka.model.dao.PlaylistMessageDAO">
        SELECT `music_list`.id, music_list_name, music_list_img_url, `music_list`.gmt_create AS music_list_datetime,
               user_name, user_avatar_img_url
        FROM `music_list`, `user_info`
        WHERE `music_list`.user_id = `user_info`.user_id
        AND `music_list`.id=#{id};
    </select>

    <select id="selectPlaylistMusicList" resultType="com.tracejp.yuka.model.dao.PlaylistMusicListElementDAO">
        SELECT music_resources.id, music_name, music_author
        FROM `music_resources`
        WHERE id IN (
            SELECT music_id
            FROM `music_list_value`
            WHERE music_list_id=#{id}
            );
    </select>

</mapper>