<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracejp.yuka.dao.UserAdminMapper">

    <insert id="addUserRecord" parameterType="com.tracejp.yuka.model.dto.RegisteredParameterDTO">
        INSERT INTO `user`(user_uid, user_email, user_password, user_last_login_time)
        VALUES(#{uid}, #{email}, #{password}, NOW());
    </insert>
    <insert id="addUserInfoBlankRecord">
        INSERT INTO `user_info`(user_id, user_name)
        VALUES(#{uid}, #{name});
    </insert>
    <insert id="addUserLevelBlankRecord">
        INSERT INTO `user_level`(user_id, level_number, user_song_number, user_login_days)
        VALUES(#{uid}, 0, 0, 0);
    </insert>
    <insert id="addUserMusicListILikeBlankRecord">
        <bind name="listName" value="我喜欢"/>
        <bind name="listImg" value=""/>
        INSERT INTO `music_list`(music_list_name, music_list_img_url, user_id, is_user_default, music_list_play_count)
        VALUES(#{listName}, #{listImg}, #{uid}, 1, 0);
    </insert>

    <select id="selectHasUserEmail" resultType="int">
        SELECT count(*)
        FROM `user`
        WHERE user_email=#{email};
    </select>

    <select id="selectHasUserEmailAndPassword" resultType="int">
        SELECT count(*)
        FROM `user`
        WHERE user_email=#{email} AND user_password=#{password};
    </select>

    <select id="getUidByAccount" resultType="String">
        SELECT user_uid
        FROM `user`
        WHERE user_email=#{email};
    </select>

    <select id="selectUserName" resultType="java.lang.String">
        SELECT user_name
        FROM `user_info`
        WHERE user_id=#{uid};
    </select>

    <select id="selectUserLastLoginTime" resultType="java.util.Date">
        SELECT user_last_login_time
        FROM user
        WHERE user_uid=#{uid};
    </select>

    <update id="updateUserLastLoginTime">
        UPDATE `user`
        SET user_last_login_time=NOW()
        WHERE user_uid=#{uid};
    </update>


    <update id="updateEmail">
        UPDATE `user`
        SET user_email=#{newEmail}
        WHERE user_uid=#{uid};
    </update>

    <update id="updatePassword">
        UPDATE `user`
        SET user_password=#{newPassword}
        WHERE user_uid=#{uid};
    </update>

    <update id="updateName">
        UPDATE `user_info`
        SET user_name=#{newName}
        WHERE user_id=#{uid};
    </update>

    <update id="updateSex">
        UPDATE `user_info`
        SET user_sex=#{newSex}
        WHERE user_id=#{uid};
    </update>

    <update id="updateBirthday">
        UPDATE `user_info`
        SET user_birthday=#{newBirthday}
        WHERE user_id=#{uid};
    </update>

    <select id="selectAvatar" resultType="java.lang.String">
        SELECT user_avatar_img_url
        FROM `user_info`
        WHERE user_id=#{uid};
    </select>

    <update id="updateAvatar">
        UPDATE `user_info`
        SET user_avatar_img_url=#{newAvatarUrl}
        WHERE user_id=#{uid};
    </update>

    <update id="updateIntroduction">
        UPDATE `user_info`
        SET user_introduction=#{newIntroduction}
        WHERE user_id=#{uid};
    </update>

    <update id="updateArea">
        UPDATE `user_info`
        SET user_area=#{newArea}
        WHERE user_id=#{uid};
    </update>

</mapper>