<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracejp.yuka.dao.UserLevelMapper">

    <update id="updateLoginDaysPlusOne">
        UPDATE `user_level`
        SET user_login_days = user_login_days + 1, gmt_modified = NOW()
        WHERE user_id=#{uid}
    </update>

    <update id="updateSongNumberPlusOne">
        UPDATE `user_level`
        SET user_song_number = user_song_number + 1, gmt_modified = NOW()
        WHERE user_id=#{uid}
    </update>

</mapper>