<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracejp.yuka.dao.UserTableMapper">

    <insert id="addUserRecord" parameterType="com.tracejp.yuka.model.dto.RegisteredParameterDTO">
        INSERT INTO `user`(gmt_create, gmt_modified, user_uid, user_name, user_email, user_password)
        VALUES (NOW(),NOW(),#{uid}, #{name}, #{email}, #{password});
    </insert>

    <select id="selectHasUserEmail" resultType="int">
        SELECT count(*)
        FROM `user`
        WHERE user_email=#{email};
    </select>

    <select id="selectHasUserEmailAndPassword" resultType="int">
        SELECT count(*)
        FROM `user`
        WHERE user_email=#{email} AND user_password=#{password};
    </select>

    <select id="getUidByAccount" resultType="String">
        SELECT user_uid
        FROM `user`
        WHERE user_name=#{email};
    </select>

    <update id="updatePassword">
        UPDATE `user`
        SET gmt_modified=NOW(), user_password=#{newPassword}
        WHERE user_uid=#{uid};
    </update>

</mapper>