<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YuKa音乐</title>

    <!-- jquery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.1/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <link rel="stylesheet" href="../css/style.css" />

</head>

<body>
    <div id="vue-model" :class="backgroundBox" style="height: 100%;">
        <!-- 导航条 -->
        <nav :class="bgNav" class="navbar bottom-zero">
            <div class="container-fluid navbar-center">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../image/logo.png" width="20px" height="20px" style="display: inline;" />
                        <span>YuKa音乐</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/main/html/index.html">发现音乐<span class="sr-only">(current)</span></a></li>
                        <li><a :href="myMusicButtonHref">我的音乐</a></li>
                        <li @click="backgroundSwitch"><a href="#">改变主题</a></li>
                        <li class="active"><a :href="userNameButtonHref">{{ userName }}</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input v-on:input="searchRequest" v-model="searchValue" type="text" class="form-control"
                                placeholder="音乐/歌单/用户">
                            <div class="list-group" style="z-index: 1024;position: absolute;">
                                <a v-for="item in searchResponse" @click="searchRouter(item.id, item.type)"
                                    class="list-group-item">
                                    {{ item.name }}
                                    <span class="badge">{{ item.type=="1" ? "歌曲" : "歌单" }}</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div v-if="responseInputError"  class="alert alert-danger">
            <strong>警告！</strong>您输入的账号或密码有误！
        </div>

        <!-- 登录表单 -->
        <div class="login-form row">
            <form id="defaultForm" onsubmit="return false" class="form-horizontal col-md-12" data-bv-message="This value is not valid"
                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">邮箱账号</label>
                    <input v-model="accountValue" type="text" class="form-control" name="email" placeholder="书城项目邮箱号/YuKa账号" required
                        data-bv-notempty-message="账号不能为空" autocomplete="off" />
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">密码</label>
                    <input v-model="passwordValue" type="password" class="form-control" name="password" placeholder="请输入密码" required
                        data-bv-notempty-message="密码不能为空" />
                </div>
                <div class="checkbox col-md-12">
                    <label>
                        <input v-model="isAutoLogin" type="checkbox"> 7天内免密码登录
                    </label>
                </div>
                <a href="registered.html">
                    <p class="text-right col-md-12">没有账号？点我注册&nbsp;<span class="glyphicon glyphicon-menu-right"></span>
                    </p>
                </a>
                <div class="col-md-12">
                    <button @click="submitButton" class="btn btn-default" :style="">登录</button>
                </div>
            </form>
        </div>

        <!-- 抵消固定页脚 -->
        <br /><br /><br /><br /><br /><br />

        <!-- 页脚 -->
        <div :class="bgTail" class="navbar-fixed-bottom jumbotron text-center" style="margin: 0;">
            <p>。。。</p>
        </div>

    </div>

    <script src="../js/generalMethod.js"></script>
    <script src="../js/loginViewObject.js"></script>

</body>

</html>