<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YuKa音乐</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.1/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>

    <div id="vue-model" :class="backgroundBox" style="height: 100%;">
        <!-- 导航条 -->
        <nav :class="bgNav" class="navbar bottom-zero">
            <div class="container-fluid navbar-center">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../image/logo.png" width="20px" height="20px" style="display: inline;" />
                        <span>YuKa音乐</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">发现音乐<span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="#">我的音乐</a></li>
                        <li @click="backgroundSwitch"><a href="#">改变主题</a></li>
                        <li><a href="login.html">登录</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input v-on:input="searchRequest" v-model="searchValue" type="text" class="form-control" placeholder="音乐/歌单/用户">
                            <div class="list-group" style="z-index: 1024;position: absolute;">
                                <a v-for="item in searchResponse" @click="searchRouter(item.id, item.type)" class="list-group-item">
                                    {{ item.name }}
                                    <span class="badge">{{ item.type=="1" ? "歌曲" : "歌单" }}</span>
                                </a>
                            </div>  
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- 错误提示 -->
        <div :class="bgError" class="jumbotron background-fff" style="padding-left: 8%;">
            <h1>登录YuKaMusic</h1>
            <p>查看并管理你收藏的私房音乐，</p>
            <p>方便地随时随地收听</p>
            <p><a class="btn btn-primary btn-lg" href="login.html" role="button">立即登录</a></p>
        </div>

       <!-- 抵消固定页脚 -->
       <br/><br/><br/><br/><br/><br/>

       <!-- 页脚 -->
       <div :class="bgTail" class="navbar-fixed-bottom jumbotron text-center" style="margin: 0;">
           <p>。。。</p>
       </div>

    </div>

    <script src="../js/generalMethod.js"></script>
    <script src="../js/myErrorViewObject.js"></script>

</body>

</html>