<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YuKa音乐</title>

    <!-- jquery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.1/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <link rel="stylesheet" href="../css/style.css" />

</head>

<body>
    <div id="vue-model" :class="backgroundBox" style="height: 100%;">
        <!-- 导航条 -->
        <nav :class="bgNav" class="navbar bottom-zero">
            <div class="container-fluid navbar-center">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../image/logo.png" width="20px" height="20px" style="display: inline;" />
                        <span>YuKa音乐</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/main/html/index.html">发现音乐<span class="sr-only">(current)</span></a></li>
                        <li><a :href="myMusicButtonHref">我的音乐</a></li>
                        <li @click="backgroundSwitch"><a href="#">改变主题</a></li>
                        <li class="active"><a :href="userNameButtonHref">{{ userName }}</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input v-on:input="searchRequest" v-model="searchValue" type="text" class="form-control"
                                placeholder="音乐/歌单/用户">
                            <div class="list-group" style="z-index: 1024;position: absolute;">
                                <a v-for="item in searchResponse" @click="searchRouter(item.id, item.type)"
                                    class="list-group-item">
                                    {{ item.name }}
                                    <span class="badge">{{ item.type=="1" ? "歌曲" : "歌单" }}</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div v-if="responseInputOk"  class="alert alert-success">
            <strong>注册成功！</strong>即将跳转到首页！
        </div>

        <!-- 注册表单 -->
        <div class="login-form row">

            <form id="defaultForm" onsubmit="return false" class="form-horizontal col-md-12" data-bv-message="This value is not valid"
                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">用户名</label>
                    <input v-model="nameValue" type="text" class="form-control" name="username" placeholder="请输入您的用户名" required
                        data-bv-notempty-message="用户名不能为空" data-bv-stringlength="true" data-bv-stringlength-min="6"
                        data-bv-stringlength-max="20" data-bv-stringlength-message="用户名必须超过6个且少于20个字符"
                        autocomplete="off" />
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">邮箱账号</label>
                    <input v-model="emailValue" class="form-control" name="email" type="email" placeholder="请输入您的邮箱" required
                        data-bv-notempty-message="邮箱不能为空" data-bv-emailaddress-message="请输入有效的电子邮件地址"
                        autocomplete="off" data-bv-remote="true" data-bv-remote-url="/YuKaMusicCity/hasEmail" data-bv-remote-message="邮箱已被注册" />
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">密码</label>
                    <input v-model="passwordValue" type="password" class="form-control" name="password" placeholder="请输入密码" required
                        data-bv-notempty-message="密码不能为空" data-bv-identical="true"
                        data-bv-identical-field="confirmPassword" data-bv-identical-message="两次密码不相同"
                        data-bv-different="true" data-bv-different-field="username"
                        data-bv-different-message="密码不能和用户名相同" data-bv-stringlength="true" data-bv-stringlength-min="8"
                        data-bv-stringlength-message="密码过于简单" />
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">确认密码</label>
                    <input v-model="passwordValue2" type="password" class="form-control" name="confirmPassword" placeholder="请再次输入密码" required
                        data-bv-notempty-message="确认密码不能为空" data-bv-identical="true" data-bv-identical-field="password"
                        data-bv-identical-message="两次密码不相同" data-bv-different="true" data-bv-different-field="username"
                        data-bv-different-message="密码不能和用户名相同" />
                </div>
                <a href="login.html">
                    <p class="text-right col-md-12">前往登录&nbsp;<span class="glyphicon glyphicon-menu-right"></span></p>
                </a>
                <div class="col-md-12">
                    <button @click="submitButton" class="btn btn-default" :disabled="responseInputOk">{{ responseInputOk? "注册成功" : "立即注册" }}</button>
                </div>
            </form>

        </div>

        <!-- 抵消固定页脚 -->
        <br /><br /><br /><br /><br /><br />
        <!-- 页脚 -->
        <div :class="bgTail" class="row jumbotron" style="margin: 0;">
            <h4 class="text-center">YuKa音乐-JavaSSM项目</h4>
            <div class="col-sm-6">
                <h4>技术栈：</h4>
                <ul>
                    <li><h5>前端技术：<small>bootStrap+vue</small></h5></li>
                    <li><h5>后端技术：<small>SpringMVC+Spring+MyBatis</small></h5></li>
                    <li><h5>项目管理构建：<small>Git+Maven</small></h5></li>
                    <li><h5>数据库：<small>MySQL</small></h5></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h4>制作：<small>LJP-/2020.12.25—2021.2.25</small></h4>
                <h4>开源：<a href="https://github.com/traceJP/YuKaMusicCity.git" target="_blank"><small>https://github.com</small></a></h4>
                <h4>其他项目：<a href="/BookCityObject/index.jsp" target="_blank"><small>BookCity书城项目</small></a></h4>
            </div>
        </div>

    </div>

    <script src="../js/generalMethod.js"></script>
    <script src="../js/registeredViewObject.js"></script>

</body>

</html>