<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YuKa音乐</title>

    <!-- jquery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.1/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <link rel="stylesheet" href="../css/style.css" />

</head>

<body>

    <div id="vue-model"  :class="backgroundBox" style="height: 100%;">
        <!-- 导航条 -->
        <nav :class="bgNav" class="navbar bottom-zero">
            <div class="container-fluid navbar-center">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../image/logo.png" width="20px" height="20px" style="display: inline;" />
                        <span>YuKa音乐</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">发现音乐<span class="sr-only">(current)</span></a></li>
                        <li><a :href="myMusicButtonHref">我的音乐</a></li>
                        <li @click="backgroundSwitch"><a href="#">改变主题</a></li>
                        <li class="active"><a :href="userNameButtonHref">{{ userName }}</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input v-on:input="searchRequest" v-model="searchValue" type="text" class="form-control" placeholder="音乐/歌单/用户">
                            <div class="list-group" style="z-index: 1024;position: absolute;">
                                <a v-for="item in searchResponse" @click="searchRouter(item.id, item.type)" class="list-group-item">
                                    {{ item.name }}
                                    <span class="badge">{{ item.type=="1" ? "歌曲" : "歌单" }}</span>
                                </a>
                            </div>  
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- 主体 -->
        <div class="row song-box center-block" style="margin-top: 3%;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">基础信息</a>
                </li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">个人介绍</a>
                </li>
                <li role="presentation">
                    <a href="#exit" aria-controls="profile" role="tab" data-toggle="tab">退出登录</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 3%;">
                <!-- 基础信息 -->
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <!-- 用户唯一标识 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>我的唯一标识：</span>
                                <small>{{ privacy.userUid }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 注意：sm只分配2权重，因为内部按钮设置了宽度100% -->
                            <!-- 弹出框按钮 -->
                            <a id="uidWindow" @click="bootStrapWindow" style="width: 100%;" tabindex="0" class="btn btn-md btn-info text-center" role="button"
                                data-placement="bottom" data-toggle="popover-uid" data-trigger="focus"
                                data-content="UID无法被修改">修改标识ID</a>
                        </div>
                    </div>

                    <!-- 昵称 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>昵称：</span>
                                <small>{{ basic.userName }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#nickname">修改昵称</button>
                            <div class="modal fade" id="nickname" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="nicknameLabel">修改我的昵称</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formNickName" class="form-horizontal col-md-12"
                                                data-bv-message="This value is not valid"
                                                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                                            >
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">新的昵称:</label>
                                                    <input v-model="updateName" type="text" class="form-control" name="username" placeholder="请输入新的昵称" required
                                                    data-bv-notempty-message="用户名不能为空" data-bv-stringlength="true" data-bv-stringlength-min="6"
                                                    data-bv-stringlength-max="20" data-bv-stringlength-message="用户名必须超过6个且少于20个字符"
                                                    autocomplete="off" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('name')" type="button" class="btn btn-primary">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 邮箱 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>邮箱：</span>
                                <small>{{ privacy.userEmail }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#email">修改邮箱</button>
                            <div class="modal fade" id="email" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="emailLabel">修改我的邮箱</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formEmail" class="form-horizontal col-md-12"
                                                data-bv-message="This value is not valid"
                                                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                                            >
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">新的邮箱:</label>
                                                    <input v-model="updateEmail" class="form-control" name="email" type="email" placeholder="请输入新的邮箱" required
                                                        data-bv-notempty-message="邮箱不能为空" data-bv-emailaddress-message="请输入有效的电子邮件地址"
                                                        autocomplete="off" data-bv-remote="true" data-bv-remote-url="/YuKaMusicCity/hasEmail" data-bv-remote-message="邮箱已被注册" />    
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('email')" type="button" class="btn btn-primary">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 密码 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>密码：</span>
                                <small>******</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#password">修改密码</button>
                            <div class="modal fade" id="password" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="passwordLabel">修改我的密码</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formPassword" class="form-horizontal col-md-12"
                                                data-bv-message="This value is not valid"
                                                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                                            >
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">当前密码:</label>
                                                    <input v-model="oldPassword" type="password" class="form-control" name="oldPassword"
                                                        placeholder="请输入原始密码"
                                                        required data-bv-notempty-message="当前密码不能为空"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">新密码</label>
                                                    <input v-model="updatePassword" type="password" class="form-control" name="password"
                                                        placeholder="请输入新的密码"
                                                        required data-bv-notempty-message="新密码不能为空"
                                                        data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="两次密码不相同"
                                                        data-bv-different="true" data-bv-different-field="username" data-bv-different-message="密码不能和用户名相同"
                                                        data-bv-stringlength="true" data-bv-stringlength-min="8" data-bv-stringlength-message="密码过于简单"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">确认新密码</label>
                                                    <input v-model="updatePassword2" type="password" class="form-control" name="confirmPassword"
                                                        placeholder="请再次输入密码"
                                                        required data-bv-notempty-message="确认新密码不能为空"
                                                        data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="两次密码不相同"
                                                        data-bv-different="true" data-bv-different-field="username" data-bv-different-message="密码不能和用户名相同"/>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('password')" type="button" class="btn btn-primary">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 性别 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>性别：</span>
                                <small>{{ basic.userSex }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#sex">修改性别</button>
                            <div class="modal fade" id="sex" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="SexLabel">修改我的性别</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="radio">
                                                    <label>
                                                        <input v-model="updateSex" type="radio" name="optionsRadios" id="optionsRadios1"
                                                            value="男生" checked>
                                                        我是男生
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input v-model="updateSex" type="radio" name="optionsRadios" id="optionsRadios2"
                                                            value="女生">
                                                        我是女生
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input v-model="updateSex" type="radio" name="optionsRadios" id="optionsRadios3"
                                                            value="保密">
                                                        保密
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('sex')" type="button" class="btn btn-primary">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 生日 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>生日：</span>
                                <small>{{ basic.userBirthday }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#birthday">修改生日</button>
                            <div class="modal fade" id="birthday" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="birthdayLabel">修改我的生日</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <input v-model="updateBirthday" type="date" class="form-control" placeholder="Text input">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('birthday')" type="button" class="btn btn-primary">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 地区 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>所在地：</span>
                                <small>{{ basic.userArea }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#area">修改地区</button>
                            <div class="modal fade" id="area" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="areaLabel">修改我的所在地</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formArea" class="form-horizontal col-md-12"
                                                data-bv-message="This value is not valid"
                                                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                                            >
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">新的地域:</label>
                                                    <input v-model="updateArea" type="text" class="form-control" name="username" placeholder="请输入新的地域" required
                                                    data-bv-notempty-message="地区不能为空" autocomplete="off" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('area')" type="button" class="btn btn-primary">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 个人介绍 -->
                <div role="tabpanel" class="tab-pane fade" id="profile">
                    <!-- 头像 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>头像</span>
                                <small>{{ basic.userAvatarImgUrl == null ? "暂未上传头像" : "已有头像" }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#avatar">重新上传头像</button>
                            <div class="modal fade" id="avatar" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="avatarLabel">上传我的头像</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <!-- v-if="basic.userAvatarImgUrl == null" -->
                                            <img :src="basic.userAvatarImgUrl" class="img-circle" width="64px">
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">新的头像:</label>
                                                    <input v-model="updateAvatarFileName" @change="getFile($event)" type="file" accept="image/*" id="exampleInputFile" />
                                                </div>
                                            </form>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" :style="avatarFileSchedule"></div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('avatar')" type="button" class="btn btn-primary">确认上传</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 个人简介 -->
                    <div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>
                                <span>个人简介</span>
                                <small>{{ basic.userIntroduction }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <!-- 弹出框按钮 -->
                            <button style="width: 100%;" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#introduction">修改个人简介</button>
                            <div class="modal fade" id="introduction" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="introductionLabel">修改我的个人简介</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">我的简介:</label>
                                                    <textarea v-model="updateIntroduction" class="form-control" rows="3"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消</button>
                                            <button @click="updateAxiosButton('introduction')" type="button" class="btn btn-primary">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div role="tabpanel" class="tab-pane fade" id="exit">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>退出登录!</strong> 服务器将销毁您的登录凭证。
                    </div>
                    <button @click="exitLogin" type="button" class="btn btn-danger center-block">按下退出</button>
                </div>

            </div>

        </div>

        <!-- 固定在顶部 navbar-fixed-top -->
        <div v-if="oldPasswordError" class="alert alert-danger alert-dismissible navbar-fixed-top" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>警告!</strong> 您的原始密码输入有误！
        </div>
        <div v-if="serviceOk" class="alert alert-success alert-dismissible navbar-fixed-top" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>成功!</strong> 您已完成信息的修改！
        </div>

        <!-- 抵消固定页脚 -->
        <br/><br/><br/><br/><br/><br/>

        <!-- 页脚 -->
        <div :class="bgTail" class="navbar-fixed-bottom jumbotron text-center" style="margin: 0;">
            <p>。。。</p>
        </div>

    </div>

    <!-- 通用js -->
    <script src="../js/generalMethod.js"></script>
    <!-- update-vue对象 -->
    <script src="../js/updateViewObject.js"></script>

</body>

</html>